*{
    margin: 0%;
    padding: 0%;
    
}
body{
    background-color: rgb(34, 30, 45);
    color: white;
}
.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    width: 80%;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}
.logo{
    text-decoration: none;
    color: rgb(245, 243, 241);
    font-size: 25px;
    font-weight: 600;
    cursor:default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.nav a:hover{
    color: aqua
}
.home{
    position: relative;
    width: 80%;
    height: 100vh;
    display: flex;
    padding: 70px 10% 0;
    align-items: center;
    justify-content: space-between;
}
.home-content{
    max-width: 600px;
}
.home-img img{
    max-width: 350px;
    border-radius: 200px;
    margin-right: -20px;
    height: 500px;
    width: 300px;
    opacity: 0;
    animation: zoomIn 3s ease forwards, floatImage 3s ease-in-out infinite;
    animation-delay: .2s, 1s;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}
.home-content h3:nth-of-type(2){
    margin-bottom: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}
.home-content h1{
    font-weight: 700;
    font-size: 56px;
    margin: ;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;

}
.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;

}

.home-content h3 span{
    color: aqua;
}
.socil-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5 ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.socil-media a:hover{
    background-color: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}   

    
.btn{
    background: aqua;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 40px;
    box-shadow: 0 0 10px aqua;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .1s;

}
/* keyframs starts here*/
@keyframes slideRight{

    0%{
        transform: translateX( -100px);
        opacity: 0;
    }

    100%{
        transform: translateX( 0);
        opacity: 1;
    }

}

@keyframes slideLeft{

    0%{
        transform: translateX( 100px);
        opacity: 0;
    }

    100%{
        transform: translateX( 0);
        opacity: 1;
    }

}


@keyframes slideTop{

    0%{
        transform: translateY( 100px);
        opacity: 0;
    }

    100%{
        transform: translateY( 0);
        opacity: 1;
    }

}
@keyframes slidebottom{

    0%{
        transform: translateY( 100px);
        opacity: 0;
    }

    100%{
        transform: translateY( 0);
        opacity: 1;
    }

}
@keyframes zoomIn{

    0%{
        transform: scale( 1);
        opacity: 0;
    }

    100%{
        transform: translateY( 0);
        opacity: 1;
    }

}

@keyframes floatImage{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-24px);
    }
    100%{
        transform:translateY(0);
    }

    }


 

